html, body{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.x-axis-title {
  font-size: x-small;
}

#targets {
  position: sticky;
  top: 10px;
  margin-bottom: -20px;
}

.target-title {
  position: relative;
  top: 0px;
  background-color: white;
  transform: translate(-50%, 0);
  border: solid;
  border-color: black;
  border-width: 2px;
  margin: 2px;
  padding-left: 5px;
  padding-right: 5px;
  width: 2.2em;
  text-align: center;
  font-size: x-small;
}

#menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 50px;
  right: 50px;
  width: 30vw;
}

.menu-block{
  border: solid;
  border-color: black;
  border-width: 2px;
  padding: 10px;
  max-height: 200px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.white{
  background-color: white;
}

.black{
  background-color: black;
  color: white;
}

#credits a{
  font-size: small;
  color: white;
}

@media (max-width: 800px) {
  #menu {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% - 20px);
    top: 0px;
    right: 0px;
    margin: 10px;
    box-sizing: border-box;    
  }
}

#tooltip{
  font-family: arial;
  font-size: small;
  position: absolute; 
  opacity: 0; 
  background-color: white; 
  padding: 5px;
  border: solid;
  border-color: black;
  border-width: 2px;
  width: fit-content;
}

button{
  margin: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

.bar:hover{
  filter: drop-shadow( 0px 2px black);
}

.practicebutton{
  background: beige;
  padding: 3px;
  margin: 3px;
  font-size: small;
  border: solid;
  border-color: black;
  border-width: 2px;
}

.year{
  display: inline-block;
  width: 47%;
  text-align: center;
  border: solid;
  border-color: black;
  border-width: 2px;
  font-size: small;
  cursor: pointer;
}

#type{
  margin-left: auto;
  padding: 5px;
  text-align: center;
  width: fit-content;
  border: solid;
  border-color: black;
  border-width: 2px;
  font-size: small;
  cursor: pointer;
  user-select: none;
}
